choco/react2shell-checker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <xs:element name="package" type="packageType">
    <xs:complexType name="packageType">
      <xs:sequence>
        <xs:element name="metadata" type="metadataType" minOccurs="1" maxOccurs="1" />
        <xs:element name="files" type="filesType" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>